.carousel-inner {
    border-radius: 10px;
}
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.25rem !important;
    border-radius: calc(.25rem - 1px);
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    height: 20px;
    width: 20px;
    background-size: 100%,100%;
}

.carousel-control-next-icon {
    background-image: url('../../assets/Icons/arrow-right-circle.svg') !important;
}

.carousel-control-prev-icon {
    background-image: url('../../assets/Icons/arrow-left-circle.svg') !important;
}

.carousel-item {
    /* display: none !important; */
    /* float: none !important; */
}